/* Footer WP icons */

#menu-item-266,
#menu-item-267,
#menu-item-268 {
  margin-right: 7px;
  width: 19px;
  display: inline-block;
}

.stara-cena {
  color: red!important;
  text-decoration: line-through!important;
  margin-top: -10px;
}

#menu-item-266 a {
  display:inline-block; height:19px; width:19px; padding:0px; margin: 0; outline:none; text-indent:-9999px;
  background-image:url('../img/footer/facebook.png');
}

#menu-item-267 a {
  display:inline-block; height:19px; width:19px; padding:0px; margin: 0; outline:none; text-indent:-9999px;
  background-image:url('../img/footer/insta.png'); background-position:0 0;
}

#menu-item-268 a {
  display:inline-block; height:19px; width:19px; padding:0px; margin: 0; outline:none; text-indent:-9999px;
  background-image:url('../img/footer/twitter.png'); background-position:0 0;
}
/*End of WP icons*/


/***************	Font import	***************/
@font-face {
  font-family: "Lucida Grande";
  font-weight: normal;
  src: url(css/fonts/LucidaGrande.ttf);
}

@font-face {
  font-family: "Lucida Grande";
  font-weight: bold;
  src: url(css/fonts/LucidaGrandeBold.ttf);
}

/***************	Body Styles	***************/
body {
  background-color: #e4e7ec;
  font-family: 'Open Sans',sans-serif, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);	color: #5c5c5c;
  font-size: 12px;
  line-height: 15px;
}

hr {
  border: 0;
  border-top: 1px solid #dbdbdb;
  margin: 0px auto;
}

/***************	Typography	***************/

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: inherit;
  font-weight: normal;
  margin: 0;
}

h1 {font-size: 24px;}
h2 {font-size: 18px;}
h3 {font-size: 14px;}
h4 {font-size: 12px;}
h5 {font-size: 10px;}


h1 {line-height: 29px;}
h3 {line-height: 17px;}
h4 {line-height: 13px;}
h5 {line-height: 10px;}

p {
  font-family: inherit;
  font-size: 12px;
  color: #5c5c5c;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #068bcd;
}

/***************	Header	***************/
/*big header*/
.header {
  width: 100%;
  height: 46px;
  background: #444;
  background: rgba(0,0,0,0.6);
  border-bottom: none;
  position: fixed;
  z-index: 10000;
  zoom: document;
}
.header2 {
  width: 100%;
  height: 146px;
  background: #white;
  background-color:rgba(242,242,242,0.85);
  border-bottom: none;
  position: absolute;
  top:46px;
  z-index: 90;

}
.header2 img {
  padding-left: 12px;
  padding-top: 8px;
}
.header2 form {
  padding-right: 12px;
  padding-top: 8px;
}
.marko {
  display: none;
}

.header .header-nav {
  position: relative;
  top: 31px;
  left: 105px;
  width: 850px;
}
.headermeni ul {
  list-style-type: none;
}
.container .row {
  margin-left: 0px!important;
}
.searchicon {
  background-image: url('img/searchicon.png');
  height: 18px;
  width: 18px;
  display: inline-block;

}
#mobileheadermeni {
  display: none;
}
#desktopheadermeni {
  display: block;
}
.headermeni ul li {
  list-style: none;
  display: inline;
  margin-left: 12px;
  margin-right: 13px;
  font-size: 16px;
  color: white;
  font-family: 'Open Sans',sans-serif;
  line-height: 46px;
  font-weight: 400;
  height: 46px;
}
.headermeni {
  float: right;
  height: 46px;
  line-height: 46px;
}
.header .logo {
  padding-left: 10px;
  padding-top: 8px;
  height: 38px;
}
/*small header*/
.header-small {
  background-image: url(img/navigation_background.png);
  background-repeat: repeat;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #dddddd;
  position: fixed;
  z-index: 100;
  zoom: document;
}

.header-small .header-nav {
  position: relative;
  top: -21px;
  left: 264px;
}

.header-small .logo {
  position: relative;
  top: 10px;
  left: 52px;
}
.header-small .logo img {
  max-width: 194px;
  max-height: 39px;
}

/* MOBILE HEADER */
@media screen and (max-width: 980px){
  .header {
    position: absolute;
    top:0;
    left:0;
  }
  .header-small {
    display: none!important;
  }

}


/*end of headers*/

.container {width: 980px;}

.nav {margin-bottom: 24px;}

.nav li {
  list-style: none;
  display: inline;
  margin-right: 20px;
  font-size: 12px;
  color: white;
  font-family: 'Open Sans',sans-serif;
  line-height: 1.0;
  font-weight: 400;
}

#menu-item-61{
  margin-right: 0px !important;
}

.minibar-nav {
  margin-top: 4px;
}

.minibar-nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.minibar-nav-mac {
  margin-top: 4px;
}

.minibar-nav-mac ul {
  margin: 0;
  padding: 0;
  text-align: center;

}

.hero {
  -moz-box-shadow:		0 12px 10px -8px #e0e0e0;
  -webkit-box-shadow: 0 12px 10px -8px #e0e0e0;
  box-shadow:				 0 12px 10px -8px #e0e0e0;
  position: relative;
  z-index: 150;
}

.hero .image img{
  max-width: 980px;
}


/***************	Content	***************/

.content {
  position: relative;
  z-index: 1;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding-top: 192px;
}

.minibar {
  height: 56px;
  position: relative;
  top: 8px;
  left: 32px;
  padding-bottom: 4px;
  margin-right:64px;
}


/*Search box styles*/

.header2 .navbar-search {margin-top: 9px;}

.header2 .search-query {
  font-size: 12px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  border: 0;
  border-radius: 0;
  background-color: #3d3d3d;
  height: 18px;
  width: 127px;
  line-height: 20px;
  padding-left: 7px;
}
.header2 .search-query:-moz-placeholder {
  color: white;
}
.header2 .search-query:-ms-input-placeholder {
  color: #white;
}
.header2 .search-query::-webkit-input-placeholder {
  color: white;
}
.header2 .search-query:focus::-moz-placeholder {
  color: gray;
}
.header2 .search-query:focus:-ms-input-placeholder {
  color: gray;
}
.header2 .search-query:focus::-webkit-input-placeholder {
  color: gray;
}

.header2 input {color: #fff;}

blockquote p {font-size: 10px;}

.header2 .span2 {
  height: 80px;
  vertical-align: bottom;
  text-align: center;
  padding-top: 20px;
}
.header2 .menutext {
  font-size: 14px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  color: #333333;
  width: 140px;
  text-align: center;
  display: block;
  padding-top: 10px;
}
.header2 .menutext:hover {
  color: black;
  font-weight: 400;
}
.header2 .span2 img {
  width: 50px;
  height: 42px;
  padding: 0;
  display: block;
  text-align: center;
  margin: auto;
}
/*Slider*/

.carousel {margin: 0; height:480px;}

.carousel-indicators {
  position: absolute;
  top: 455px;
  right: 460px;
  z-index: 5;
  margin: 0;
  list-style: none;
  height:12px;
  overflow: hidden;
}

.carousel-indicators li {
  display: block;
  cursor: pointer;
  float: left;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  text-indent: -999px;
  background-image: url(img/home/slider/bullet.png);
  background-color: transparent;
}

.carousel-indicators .active {
  background-color: transparent;
  background-image: url(img/home/slider/bullet_active.png);
}


/*News*/

.news .item {
  display: inline-table;
  width: 323px;
  height: 270px;
  padding: 11px 0px;
  text-align: center;
  border-right: 1px solid #dbdbdb;
}

.news .lastitem {border:0;}

.news .postname {
  height: 95px;
  margin-bottom: 17px;
  overflow: hidden;
}

.news .postheading {
  color: #000;
  position: relative;
  top: 16px;
  line-height: 22px;
  height: 44px;
  overflow: hidden;
}

.news .headingafter {
  margin: 0 auto;
  width: 230px;
  position: relative;
  top: 20px;
}

.news .postimage {
  width: 240px;
  height: 140px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0 auto;
  overflow: hidden;
}

.news .postimage img {
  max-width: 240px;
  max-height: 140px;
  min-height: 100%;
}


/*Social*/

.social {
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  height: 81px;
}

.social ul {
  list-style: none;
  margin: 0;
  padding-top: 27px;
}

.social li {
  display: inline-block;
  width: 323px;
  text-align: center;
}

/*Metrics*/
.padding-content {
  padding-left: 44px;
  padding-right: 44px;
  padding-bottom: 60px;
}

.no-margins {margin: 0!important;}


/*Boxes*/

.split2 {
  margin-top: 30px;
}

.split2 img {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.singleline-text {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 47px;
}

.half {width: 445px !important;}

.half-left {padding-right: 8px;}
.half-right {padding-left: 8px;}


/*Footer*/

.footer {
  border-top: 3px solid #f7f7f7;
}

.footer .widgets {
  text-align: center;
  background-color: #fcfcfc;
  border-bottom: 1px solid #dbdbdb;
  height: 331px;
}

.footer .widget-item {
  display: inline-table;
  width: 326px;
  height: 300px;
  padding-top: 31px;
  border-left: 1px dashed #dcdcdc;
  float: left;
}

.footer .widget-item:first-child {border-left: 0;}

.footer .widget-item .widget-name {color: #000;}

.footer .widget-item .widget-content {
  width: 243px;
  margin: 3px auto;
}

.footer .widget-item input {
  margin-bottom: 10px;
  width: 132px;
  height: 24px;
}

.footer .widget-item .add-on {
  width: 25px;
  height: 24px;
}

.footer .widget-item .post {
  display: block;
  height: 64px;
  margin-bottom: 12px;
}

.footer .widget-item .post-image {
  width: 64px;
  height: 64px;
  display: inline-block;
  float: left;
  overflow:hidden;
}

.footer .widget-item .post-image img {
  height: 64px;
}

.footer .widget-item .post-description {
  text-align: left;
  width: 160px;
  height: 64px;
  display: inline-block;
  padding-top: 0px;
}

.footer .widget-item .post-name {
  height: 25px;
  color: #000;
  overflow:hidden;
  text-overflow: ellipsis;
  text-overflow: 'â€¦';
}

.footer .widget-item .post-text {
  height: 34px;
  overflow:hidden;
  text-overflow: ellipsis;
  text-overflow: 'â€¦';
}

.footer ul {
  text-align: center;
  margin: -10px 0 20px 0;
}

.footer ul li {
  display: inline;
  list-style: none;
  text-transform: uppercase;
  color: #000;
  margin-right: 20px;
}
.footer ul .social-links {margin: 0;}
.footer ul .social-links a{
  margin-right: 7px;
}
.footer ul .social-links a:last-child {margin: 0;}

.made-on-mac {
  width: 76px;
  margin: 0 auto 0px auto;
  padding-bottom: 36px;
}

/*colors*/

.beige {background-color: #f5f5f5;}


/*******Grid*******/


/*2*/

.grid2 {padding: 30px 0;}

.grid2-image {
  height: auto;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.grid2-image-container {height: 440px !important;}

.grid2-text {
  padding-left: 65px;
  margin: 25px auto;
  overflow: hidden;
}

.grid2-text-right {margin: 35px auto;}

.grid2-textrow {margin-bottom: 24px;}

.grid2-heading {
  width: 390px;
  color: #000;
}

.grid2-description {
  width: 380px;
  margin-top: 26px
}


/*3*/

.grid3 {text-align: center;}

.grid3-row {margin-top: 47px;}

.grid3-image {max-width: 296px;}

.grid3-heading {
  line-height: 16px;
  color: #000;
  margin: 0 auto;
  width: 185px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 15px;
}

.grid3-description {
  width: 215px;
  margin: 0 auto;
  overflow: hidden;
}

.grid3-more {
  width: 170px;
  height: 41px;
  position: relative;
  top: 16px;
  border:0;
  border-radius: 0;
  color: white;
  background-color: #5c5c5c;
  line-height: 0 !important;
}
.grid3-more h2 {
  color: white;
}


/*4*/

.grid4 {
  padding-bottom: 44px;
  padding-top: 25px;
  -moz-box-shadow:		inset 0px -12px 6px -11px #dedede,
  inset 0px	12px 6px -11px #dedede;
  -webkit-box-shadow: inset 0px -12px 6px -11px #dedede,
  inset 0px	12px 6px -11px #dedede;
  box-shadow:				 inset 0px -12px 6px -11px #dedede,
  inset 0px	12px 6px -11px #dedede;
}

.grid4-heading {
  line-height: 16px;
  color: #000;
  margin: auto;
  width: 167px;
  overflow: hidden;
  margin-bottom: 12px;
  margin-top: 15px;
  display: block;
  text-align: center;
  text-align: -webkit-center;
}

.grid4-heading h2 {line-height: 17px;
  margin-left: 0px;
}

.grid4-description {
  width: 167px;
  margin: auto;
  display: block;
  text-align: center;
  text-align: -webkit-center;
  font-size: 13px;
  line-height: 1.7;
  font-weight: 200;
  color: #262626;
}

.grid4-image-container {width: 167px;
  display:block;
  margin:auto;
}

.grid4-image {
  display: block;
  margin: 0 auto;
}


/*Prices*/

.prices {
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 32px;
  -moz-box-shadow:		inset 0px -12px 6px -11px #dedede,
  inset 0px	12px 6px -11px #dedede;
  -webkit-box-shadow: inset 0px -12px 6px -11px #dedede,
  inset 0px	12px 6px -11px #dedede;
  box-shadow:				 inset 0px -12px 6px -11px #dedede,
  inset 0px	12px 6px -11px #dedede;
}

.prices-image-container {
  padding-top: 29px;
  width: 160px;
  height: 110px;
}

.prices-heading {
  line-height: 16px;
  color: #000;
  margin: 0 auto;
  width: 185px;
  overflow: hidden;
  margin-top: 12px;
  min-height: 0!important;
}

.prices-spec {
  margin-top: 22px;
}

.prices-price {
  min-height: 0!important;
  color: #000;
}

.prices-exprice {
  color: #ff0000;
  text-decoration:line-through;
}


/*Beige Sqares*/

.square {
  padding-left: 22px;
  margin-bottom: 70px;
}

.square-block {
  position: relative;
  top: -100px;
  border-radius: 5px;
  background-color: #F5F5F5;
  width: 430px !important;
  height: 255px;
  margin-left: 30px !important;
  overflow: hidden;
  padding-top: 95px;
  text-align: center;
}

.square-imagecontainer {
  min-height: 140px;
  margin-left: 31px;
  margin-right: 12px;
}

.square-image {
  display: block;
  margin: 0 auto;
  max-width: 430px;
  position: relative;
  z-index: 2;
}

.square-span {
  margin-left: -8px !important;
  margin-top: 33px;
  height: 374px;
}

.square-heading {
  color: #000;
  padding-bottom: 8px;
}
.square-heading h2 {line-height: 30px;}

.square-text {
  color: #5c5c5c;
  width: 380px;
  margin: 0 auto;
}

.square-text a {color: #068bcd}


/* Post */

.post-head {
  margin-left: 45px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.post-heading {color: #000;}

.post-date {
  margin-top: 5px;
  margin-left: 8px;
}

.post-content {
  -moz-box-shadow:		inset 0px 16px 15px -11px #dedede;
  -webkit-box-shadow: inset 0px 16px 15px -11px #dedede;
  box-shadow:				 inset 0px 16px 15px -11px #dedede;
  padding-top: 31px;
}

.post-featured .figcaption {
  margin-left: 180px;
  padding: 3px 0px;
}

.post-featured .post-featured-image {
  display: block;
  margin: 0 auto;
}

.post-content-text {
  width: 890px;
  margin: 14px auto 0px auto;
  line-height: 2;
  font-size: 15px;
}
.post-content-text p, li {
  line-height: 2;
  font-size: 15px;
  padding-top: 10px;
}
.post-content-text h1, h2 {
  line-height: 29px;
  padding-bottom: 20px;
  margin-left: -10px;
  color: black;
}
.footerheader {
  padding-bottom: 20px;
  margin-left: 0px;
  color: black;
  font-size: 12px;
  height:25px;
  line-height:12px;
}
.post-content-text h4 {padding-bottom: 22px;}

.post-content-text blockquote {width: 625px;}

.post-content-text blockquote h5 {
  line-height: 10px;
  margin-bottom: 15px;
}

.post-content-text img {
  display: block;
  margin: 0 auto;
}

.post-tags {
  display: inline-block;
  width: 890px;
  margin: 17px 0px 10px 47px;
}

.post-tags-thead {
  color: #000;
  display: inherit;
}

.post-tag {
  display: inherit;
  background-color: #F5F5F5;
  color: #7A8186;
  padding: 5px 9px;
  border: 1px solid #FEFEFE;
  border-radius: 5px;
  padding: 5px 5px;
}

.post-readmore {
  color: #068bcd;
  display: inherit;
  float: right;
}


/*Page*/

.page-featured {
  margin-left: -45px;
  margin-bottom: -10px;
  margin-top: 12px;
}

.page-featured-image {
  width: 980px;
}


/****Category****/

.category-content {
  margin-top: 15px;
  margin-bottom: 57px;
}

.category-address {
  margin-top: 5px;
  margin-left: 8px;
}

.category-address a{color: #068bcd;}

.category-navigation {
  width: 890px;
  margin: 0 auto;
}


/*----------*/
/*pagination*/
/*----------*/
.pagination-right {
  float: right;
}

.category-pagination {
  display: inline-block;
}

.category-pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
}

.category-pagination ul > li {
  display: inline;
}

.category-pagination ul > li > a,
.category-pagination ul > li > span {
  float: left;
  color: #068BCD;
  padding: 7px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-left-width: 0;
  height: 18px;
}

.category-pagination ul > li > a:hover,
.category-pagination ul > li > a:focus,
.category-pagination ul > .active > a,
.category-pagination ul > .active > span {
  background-color: #f5f5f5;
}

.category-pagination ul > .active > a,
.category-pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.category-pagination ul > .disabled > span,
.category-pagination ul > .disabled > a,
.category-pagination ul > .disabled > a:hover,
.category-pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.category-pagination ul > li:first-child > a,
.category-pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.category-pagination ul > li:last-child > a,
.category-pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}


/*----------*/
/*navigation*/
/*----------*/
.category-nav {
  display: inline-block;
  list-style: none;

  *zoom: 1;
}

.category-nav ul {margin: 0;}

.category-nav ul > li {
  display: inline;
}

.category-nav ul > li > a,
.category-nav ul > li > span {
  float: left;
  height: 18px;
  padding: 7px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.category-nav ul > li > a:hover {text-decoration:underline;}

.category-nav ul > li > a:hover,
.category-nav ul > li > a:focus,
.category-nav ul > .active > a,
.category-nav ul > .active > span {
  background-color: #f5f5f5;
}

.category-nav ul > .active > a,
.category-nav ul > .active > span {
  color: #5c5c5c;
  background-color: #ebebeb;
  cursor: default;
}

.category-nav ul > .disabled > span,
.category-nav ul > .disabled > a,
.category-nav ul > .disabled > a:hover,
.category-nav ul > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.category-nav ul > li:first-child > a,
.category-nav ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.category-nav ul > li:last-child > a,
.category-nav ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}


/*dropdown*/
.drop-nav {
  margin-left: 0;
}

.category-nav .caret-border {
  display: inline;
  height: 99px;
  padding: 9px 0px;
}

.category-nav .dropdown .caret {
  margin-left: 8px;
  margin-right: -3px;
}

.category-nav .dropdown-menu {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.category-nav .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.category-nav .dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.category-nav .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.category-nav .dropdown-menu > li > a:hover,
.category-nav .dropdown-menu > li > a:focus,
.category-nav .dropdown-submenu:hover > a,
.category-nav .dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.category-nav .dropdown-menu > .active > a,
.category-nav .dropdown-menu > .active > a:hover,
.category-nav .dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.category-nav .dropdown-menu > .disabled > a,
.category-nav .dropdown-menu > .disabled > a:hover,
.category-nav .dropdown-menu > .disabled > a:focus {
  color: #999999;
}

.category-nav .dropdown-menu > .disabled > a:hover,
.category-nav .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.category-nav .open {
  *z-index: 1000;
}

.category-nav .open > .dropdown-menu {
  display: block;
}

.category-nav .dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.category-nav .dropdown ul > li > a {
  border: 0;
  min-width:118px;
}

.category-nav .dropdown ul > li:first-child > a,
.category-nav .dropdown ul > li:last-child > a {
  border-radius: 0;
}


/*items*/

.category-items {
  width: 890px;
  margin: 0 auto;
}

.items-row {
  padding-top: 12px;
}

.items-content {
  width: 750px;
  margin: auto;
}

.item-names {
  color: #000;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 20px;
}

.item-description {
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.item-images {
  margin-bottom: 0px;
}

.item-prices {
  color: #000;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.category-endhr {
  margin-top: 33px;
  margin-bottom: 15px;
}

/*FANCYBOX PRODUCT*/

.product-images {
  display: block;
  float: left;
  width: 398px;
  min-height: 30px;
  margin-left: 0px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.product-text {
  display: block;
  float: left;
  width: 284px;
  min-height: 30px;
  margin-top: 70px;
  margin-left: 55px;
  margin-right: 58px;
  color: #5c5c5c;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.product-name {
  color: #000;
  margin-bottom: 15px;
}
.product-name h2 {
  color: #000;
  font-size: 30px;
  text-align: center;
  line-height: 1.2;
}
.product-tags {
  margin:0;
  line-height: 30px
}

.product-tags span {
  background-color: #f5f5f5;
  padding: 4px 7px;
  border: 1px solid #f0efef;
  border-radius: 4px;
}

.product-description h1 {
  padding-bottom: 15px;
  line-height: 1.3;
  margin-left: -10px;
}
.product-description {
  line-height: 2;
}

.product-price {
  color: #000;
  margin-top: 22px;
  margin-bottom: 35px;
}

.product-price:before {
  content: "Cena: "
}

.equal .span2 {
  width: 93px;
}
.wysija-submit {
  visibility:hidden;
  width:1px!important;
  height:1px!important;
}
.wysija-input {
  width:190px!important;
}
.wysija-paragraph {
  margin-top: 20px;
}
.centertag {
  display: block;
  text-align: center;
  text-align: -webkit-center;
}
.desnotag {
  display: block;
  text-align: right;
  text-align: -webkit-right;
}
.levotag {
  display: block;
  text-align: left;
  text-align: -webkit-left;
}
.catrow {
  border-top: 1px #dbdbdb solid;
  border-bottom: 1px #dbdbdb solid;
  height: 60px;
}
.dropdaunbox2 {
  width: 312px;
  height:60px;
  margin-left:0;
  border-right: 1px #dbdbdb solid;
}
.dropdaunbox1 {
  width: 312px;
  height:60px;
  margin-left:0px;
  border-right: 1px #dbdbdb solid;
  border-left: 1px #dbdbdb solid;
}
.dropdauntekst {
  margin-top: 3px;
  display: block;
  text-align: center;
  text-align: -webkit-center;
}
.breadcrumbartikl {
  border: 1px #dddddd solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 3px;
  padding: 0;
}
.paginacija li {
  list-style-type: none;
  border-left: 1px #dddddd solid;
  padding: 8px 12px 5px 12px;
}
.paginacija ul {
  margin:0;
}
.attachment-250x250 {
  display: block;
  vertical-align: middle;
  margin: auto;
  text-align: center;
  text-align: -webkit-center;

}
.searchbox {
  border-radius: 4px;
  border: solid 1px #e7e7e7;
  padding: 0px 10px 0px 10px;

}
.searchboxinner {
  overflow: hidden;
  margin-bottom:15px;
  height: 283px;

}
.slika {
  vertical-align: bottom;
  display: table-cell;
  width:186px;
  height:186px;
}
.slika img {
  padding-bottom: 15px;
}
.slikaart {
  vertical-align: bottom;
  display: table-cell;
  width:100px;
  height:100px;
}
.slikaart img {
  padding-bottom: 15px;
  padding-top: 5px;
}
.searchboxinnerart {
  overflow: hidden;
  margin-bottom:5px;

}
.smalltext {
  font-size: 10px;
  font-weight: 300;
  line-height: 1.25;
}
.spotlight {
  display: none;
  height:60px;
  width:60px;
  margin-top:-110px;
  margin-left:60px;
}

.artikl_slika {
  vertical-align:bottom;
  height: 175px;
  width: 175px;
  display: table-cell;
}
.pro_header {
  height: 100px;
}
.wysija-paragraph {
  margin-top: 0px!important;
}
.wysija-submit wysija-submit-field {
  display: none!important;
}
.slider-glavni-img {
  height:480px;
  width:980px;
  width: 100%;
  background-color: #ebecee;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Open Sans',sans-serif;
  color: #b5b5b5;
  line-height: 1.6;
}
.slider-img {
  height:325px;
  width:480px;
  width: 50%!important;
  background-color: #ebecee;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:block;
  margin: 0!important;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Open Sans',sans-serif;
  color: #b5b5b5;
  line-height: 1.6;

}
.slider-box {
  position: absolute;
}
.slider-box h1 {
  font-size: 56px;
  line-height: 1;
  font-weight: 300;
  color: #fff;
}
.slider-podnaslov {
  color: #b5b5b5;
  line-height: 1.7;
  font-size: 19px;
  margin: 15px 0 20px;
}
.slider-dugme {
  display: inline-block;

  border-color:#0483d9;
  color:#0483d9;
  padding: 1em 2em;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #0483d9;
  font-size: 16px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}

.slider-dugme:hover {
  background: #0483d9;
  color: #fff;
  opacity: 1

}
.vesti-box {
  height: 290px;
  margin: 1px;
  padding: 10px;
  border: 0;
}
.box-slika {
  height: 190px;
  width: 260px;
  overflow: hidden;
  vertical-align: bottom;
  display: table-cell;
  background-repeat: no-repeat;
  background-position: center bottom;
}


.vesti-naslov {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdcda;
  height:46px;
  overflow: hidden;
}

.vesti-podnaslov {
  margin-top: 10px;
}
/* DODACI KOCKICE */

.dodaci-slika {
  height: 190px;
  width: 200px;
  overflow: hidden;
  vertical-align: bottom;
  display: table-cell;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.dodaci-box {
  height: 310px;
  margin: 1px;
  padding: 10px;
  border: 0;
}
.dodaci-naslov {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dcdcda;
  height: 37px;
  overflow: hidden;
  color: black;
}
.dodaci-podnaslov {
  margin-top: 10px;
  height: 36px;
}
.dodaci-red {
  padding-left: 0px;
}
.dodaci-red .span3 {
  width:25%;
}
.dodaci-cena {
  color: black;
}




/* LAJTBOX */
.lightbox {
  position: fixed;
  top: 10%;
  left: 50%;
  width: 810px;
  height: 90%;
  margin-left: -400px;
  background: #fff;
  z-index: 8030;
  overflow-x: hidden;
  overflow-y: scroll;
}
#lightbox-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('img/fancybox/fancybox_overlay.png');
  z-index: 4020;
  display: none;
}
#fensiboxclose {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-image: url('img/fancybox/close.png');
  background-position: 2px;
}
.fancybox-full {
  width: 276px!important;
}
.ajaxloading {
  font-size: 40px;
  position: absolute;
  top: 35%;
  left:50%;
  margin-left:-113px;
}
.category-nav ul > li > a, .category-nav ul > li > span {
  height: 15px;
}

.servis-box {
  height: 498px;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: #004e70;
}
.nav-tabs.nav.tabsservis {
  border-right: 0px!important;
  background-color: #003e5a;
}
.nav-tabs>li {
  display: block;
  padding-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.nav-tabs>li>a {
  line-height: 62px;
  border-radius: 0!important;
  color: white;
  font-weight: 900;

}
.tabs-left>.nav-tabs .active>a, .tabs-left>.nav-tabs .active>a:hover, .tabs-left>.nav-tabs .active>a:focus{
  background-color: #004e70;
  border: solid 1px #004e70!important;
  line-height: 62px;
  border-radius: 0!important;
  color: rgb(181, 198, 208);
  font-weight: 900;

}
.nav-tabs>li>a:hover {
  background-color: #004e70;
  border: solid 1px #004e70!important;
  line-height: 62px;
  border-radius: 0!important;
  color: white;
  font-weight: 900;
}
.tab-pane > p {
  color: rgb(136, 202, 231);
  font-size: 26px;
  padding-left: 30px;
  padding-top: 30px;
  height: 100%;
  display: block;
  padding-right: 50px;
  text-align: justify;
  line-height: 55px;
  font-weight: 200;
}


.cene-ipad-nove-red1 {
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgb(219, 219, 219);
}

.cene-ipad-nove-tekst {
  font-size: 24px;
  line-height: 1.1667;
  font-weight: 200;
}

.slika-boje > span {
  margin-top: 26px;
  font-size: 18px;
  line-height: 1.4444;
  font-weight: 600;
  color: rgb(66, 66, 66);
  display: block;
}

.cene-ipad-nove-red2top {
  margin-top: 40px;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
  color: #545454;
}

.cene-ipad-nove-red2 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
  color: #545454;
}

.cene-ipad-nove-red2bot {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
  color: #545454;
}
.cena-apple-artikla {
  font-size: 18px;
  line-height: 1.4444;
  font-weight: 600;
  color: rgb(66, 66, 66);
  padding-left: 20px;
}
.rate-apple-artikla {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: red;
}
.servis-header {
  height: 80px;
  background-color: #f36f37;
}
.servis-kategorije {

}
.servis-naslov {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}
.servis-window {
  height: 418px;
  overflow-y: scroll;
  background-color: white;
  width: 766px!important;
  margin: 0!important;
}
.servis-sidebar{
  height: 418px;
  background-color: #c2592c;
  width: 214px!important;
  margin: 0!important;
}
.iphonemenu .span6 {
  margin: 0!important;
  padding: 0!important;
  width: 50%!important;
}
.iphonemenu .span12 {
  margin: 0!important;
  padding: 0!important;
  width: 100%!important;
}
.iphonemenu>ul {
  margin: 0!important;
  padding: 0!important;
}
.iphonedodacirow {
  background: #ededed; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
  background: linear-gradient(to bottom,  #ededed 0%,#f6f6f6 11%,#f6f6f6 89%,#e0e0e0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */

}
.iphonedodaci {
  background-image: url('../img/bgdnoise.png');
  height: 325px;
  margin: 0!important;
}
.iphonedodaci2 {
  padding: 50px 40px 20px 40px;
}
.iphonedodaci2>h1 {
  color: black;
  line-height: 2em;
}
.iphonedodaci p {
  line-height: 1.7em;
  font-size: 0.8em;
}
.iphonedodaci ul {
  margin: 0;
}
.iphonedodaci li {
  line-height: 1em;
  text-decoration: none;
  list-style-type: none;
  color: #0088cc;
}
/*APPLE IZBORNIK ZA SVE TRI VRSTE ARTIKALA 4*/
.padding-content.izbornikGrid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  -webkit-flex-wrap: wrap;	-ms-flex-wrap: wrap;	flex-wrap: wrap;
  -webkit-align-items: stretch;	-ms-flex-align: stretch;	align-items: stretch;
  box-sizing: border-box;
  padding: 60px;
}
.izbornikItem {
  width: 28%;
  width: calc(33% - 40px);
  margin: 0 0 30px 0;
  padding: 10px 20px 30px 10px;
  position: relative;
}
.izbornikItem a {
  display: block;
}
.izbornikItem h2 {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}
.izbornikItem p {
  color: gray;
}
.izbornikItem .imgWrap {
  width: 100%;
  min-height: 200px;
}
.izbornikItem .imgWrap {
  position: relative;
}
.izbornikItem img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);transform: translateX(-50%);
  max-width: 100%;
  max-height: 100%;
}
.izbornikItem button {
  width: 60%;
  margin: 0 auto;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);transform: translateX(-50%);
}

@media only screen and (max-width : 981px) {

  /*NOVI HEADER MENU*/
  #desktopheadermeni {
    display: none;
  }
  #mobileheadermeni {
    display: block;
  }

  /*STARI HEADER MENU*/
  .headermeni {
    float:none;
    height: auto;
  }
  .headermeni ul {
    padding: 0;
    margin: 0;
  }
  .header .logo {
    text-align: center;
  }
  .header .logo img {
    width:auto;
    height:33px;
  }
  .header {
    position: static;
    height: auto;
  }
  .container, .content {
    width:100%;
    padding: 0;
  }
  .carousel {
    height: auto;
  }
  .slider-box {
    top: 0!important;
    left: 0!important;
  }
  .slider-glavni-img {
    height: 48vw;
  }
  .header .span3, .header .span9 {
    width: 100%;
    padding: 0;
    margin:0;
    text-align: center;
  }
  .container .padding-content .span6 {
    width: 100%!important;
    display: block;
  }
  #header2 {
    display: none;
  }
  .news .span6 {
    width:100%!important;
    display: block;
  }
  .social {
    height: auto;
  }
  .social li {
    width: 100%;
  }
  .span6 {
    width: 50%!important;
  }
  .footer .widgets span.widget-item {
    width: 100%;
    border: 0!important;
  }
  .footer ul li {
    margin-right: 0px;
  }
  /*APPLE IZBORNIK*/
  .padding-content.izbornikGrid {
    padding: 10px;
  }
  .izbornikItem {
    width: 100%;
  }
  .padding-content .span4 {
    width: 100%!important;
  }
  /*IPHONE IZBORNIK*/
  .iphonemenu .span6 {
    width: 100%!important;
  }
  /*DODACI*/
  .catrow .span4, .catrow .category-nav .drop-nav, .dropdaunbox1, .dropdaunbox2, .dropdaunbox3 {
    width: 100%!important;
  }
  .category-content .row-fluid.catrow .span4 {
    margin: 0!important;
    border-bottom: 1px solid #ddd;
  }
  .category-address.breadcrumbartikl .span12 {
    margin: 0!important;
  }
  .category-address.breadcrumbartikl h4 a {
    display: inline-block;
  }
  .breadcrumbartikl .span10 {
    width: 100%;
    margin: 0!important;
    padding: 10px;
  }
  .category-nav .dropdown ul > li > a {
    border: 0;
    font-size: 2em;
    min-width: 118px;
    height: 1.2em;
  }
  .category-navigation {
    width: 100%;
  }
  .dodaci-red .span3, .dodaci-slika {
    width: 100%;
  }
  .dodaci-slika img {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  .lightbox {
    width: 100%;
    height: 100%;
    margin: 0;
    top:0;
    left:0;
  }
  .product-images {
    width: 100%;
  }
  .product-text {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
  /*ZA PROFESIONALCE*/
  .post-content-text {
    width: 100%;
    margin: 0;
    padding: 5%;
    box-sizing: border-box;
  }
  .post-content-text .equal .span2 {
    width: 45%;
    display: inline-block;
  }
  /*KONTAKT*/
  .hero .image img {
    width: 100%;
  }
  .span7.produktbox {
    display: block;
    width: 100%;
  }
  /*IPHONE PAGE*/
  .hero .image {
    width: 100%!important;
  }
  /*POST PAGE*/
  .post-content-text blockquote {
    width: 100%;
    display: block;
    clear: both;
    padding: 0;
    margin: 0;
    text-align: center;
    background: rgba(0,0,0,0.2);
    border: 0;
    word-wrap: break-word;
  }
  .post-tags {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 5%;
    box-sizing:border-box;
  }
  .post-tag {
    display: inline-block;
  }
  .post-content-text .row-fluid .span6 {
    width: 100%!important;
    display: block;
  }
  .content .row-fluid.centertag {
    margin: 0!important;
    padding: 0!important;
  }
  .pro_header + .row-fluid.centertag .span9, .pro_header + .row-fluid.centertag .span3 {
    display: block;
    width: 100%!important;
  }

  /*STRANICA PRO ARTIKLA POJEDINACNOG*/
  .single-format-standard .beige.grid4 {
    display: none;
  }
  #cenaPicker .span6 {
    display: block;
    width: 100%!important;
    margin:0;
  }
  #productpickerimage {
    margin:0;
  }
  #cenaPicker .pickermenu, #cenaPicker .pick {
    height: 100px;
  }
  .single-format-standard .grid2 .span6 {
    display: block;
    width:100%!important;
    margin:0;
    padding: 0 5%;
    box-sizing: border-box;
  }
  .grid2-heading, .grid2-description {
    width: 100%;
  }
  .square .span6.square-span {
    display: block;
    width: 100%!important;
  }
  .square .square-block {
    width: 100%!important;
    margin: 0!important;
    height: auto;
  }
  .square .square-text {
    width: 100%!important;
    margin: 0!important;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .produktbox {
    width: 100%!important;
    margin-left: 2.127659574468085%;
    height: auto!important;
  }
  .produktbox .produktimage {
    width: 100%;
    height: auto;
    position: initial;
  }
  .produktbox .produkttekst {
    width: 100%!important;
    background-color: rgb(255, 224, 185);
    top: initial;
    left: initial;
  }
  /*OVO JE ISTO TO SAMO ZA 50% cene*/
  .cene-ipad-nove-tekst, .cene-produkt-nove-tekst, .cena-apple-artikla, .rate-apple-artikla {
    position: initial!important;
  }
  .cene-ipad-nove-red1 .cene-ipad-nove-tekst, .cene-ipad-nove-red2top .cene-ipad-nove-tekst {
    display: block!important;
    width: 100%!important;
    padding-bottom: 20px!important;
  }
  .cene-ipad-nove-red2top .span4, .cene-ipad-nove-red2 .span4, .cene-ipad-nove-red2bot .span4{
    width:100%!important;
  }


}